.content
	= form_for @term, :html => { :class => "edit_form" } do | f |
		
		- if !@term.nil? && @term.errors.any?
			.errors_container
				- @term.errors.each do | field , message |
					.error-message
						= message
				
		.input_container
			= f.label :content, t("models.term.one")
			= f.text_field :content

		.input_container
			= f.label :gender_id, t("models.gender.one")
			= f.select :gender_id, generate_data_for_select_tag(Gender)

		.input_container
			= f.label :declension_id, t("models.declension.one")
			= f.select :declension_id, generate_data_for_select_tag(Declension)

		.input_container
			= f.label :term_number_id, t("models.term_number.one")
			= f.select :term_number_id, generate_data_for_select_tag(TermNumber)

		.input_container
			= label_tag "meanings", t('models.meaning.many')
			= f.fields_for :meanings, @term.meanings do | meaning |
				= meaning.text_area :content
		.buttons_container
			=f.submit t('titles.buttons.submit'), :class => "button"