.flash *{ :class => [flash[:status]] }
	= flash[:message]
- unless @terms.nil? || @terms.empty?
	.content
		.main-items-list-container
				- @terms.each do | term | 
					.main-items-list-item
						.term
							= link_to term.content, term_path(term)
							= link_to " (" + t('titles.buttons.delete') + ")", term, :method => :delete, :class => 'delete-link', :data => {:confirm => t('messages.confirmation.delete', :entity => term.content)}
							.gender
								b
									= t("models.gender.one") + ": "
								= t("models.gender.attributes.content.values.#{term.gender.content}")
							.declension	
								b
									= t("models.declension.one") + ": "
								= t("models.declension.attributes.content.values.#{term.declension.content}")
							.term-number
								b
									= t("models.term_number.one") + ": "
								= t("models.term_number.attributes.content.values.#{term.term_number.content}")

						.meaning-container
							- term.meanings.each do | meaning |
								.meaning-item
									= meaning.content
		.paginate-container
			= will_paginate @terms
		/ .paginate-container
		/ 	ul
		/ 		li 
		/ 			| 1
		/ 		li
		/ 			| 2
		/ 		li
		/ 			| 3
		/ 		li
		/ 			| 4
- else
	= t("models.term.empty")