.content
	- unless @term.nil?
		.info_container
			.attribute_container
				.attribute-name
					=' t("models.term.one") + ":"
				.attribute-value
					= @term.content

			.attribute_container
				.attribute-name
					=' t("models.gender.one") + ":"
				.attribute-value
					= t("models.gender.attributes.content.values.#{@term.gender.content}")

			.attribute_container
				.attribute-name
					=' t("models.declension.one") + ":"
				.attribute-value
					= t("models.declension.attributes.content.values.#{@term.declension.content}")

			.attribute_container
				.attribute-name
					=' t("models.term_number.one") + ":"
				.attribute-value
					= t("models.term_number.attributes.content.values.#{@term.term_number.content}")

			.attribute_container
				.attribute-name
					=' t("models.meaning.many") + ":"
				- if @term.meanings.any?
					- @term.meanings.each do | meaning |
						.attribute-value
							= meaning.content
				- else
					= t("models.meaning.empty")
			.buttons_container
				= link_to t("titles.buttons.edit"), edit_term_path(@term), :class => "button"
				= link_to t("titles.buttons.delete"), term_path(@term), method: :delete, class: "button", :data => { :confirm => t('messages.confirmation.delete', :entity => @term.content) }