.content
	= form_tag '/panel'
		= text_area_tag 'query', set_up_query(@query), :class => "query_field", :placeholder => t("titles.placeholders.query-area")
		= button_tag t('titles.buttons.execute'), :class => "button"
	- unless @sql_error.nil?
		.flash.failed
			= @sql_error

	- unless @results.nil?
		table.results
			thead
				tr
					td colspan=@results.first.keys.count
						= t "titles.table.sql-results"
				tr
					- @results.first.keys.each do | key |
						td
							b
								= key
			tbody
				- @results.each do | row |
					tr class=cycle('list_line_odd', 'list_line_event')
						- row.each do | key , value |
							td 
								= value