/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background: #EFE5E5;
}

.wrapper {
	margin: 0px auto;
	width: 1024px;

	.flash {
		display: none;
	}
	.flash.success {
		display: block;
    width: 100%;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    height: 20px;
    background: #A5E88F;
	}
	.flash.failed {
		display: block;
    width: 100%;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
    height: 20px;
    background: #DE6565;	
	}
	ul.site-menu {
		width: 100%;

		li {
			list-style: none;
			display: inline;
			border-right: 1px solid #ccc;
			padding: 5px;

			&:hover {
				text-decoration: underline;
			}

			&:last-child {
				border-right: none;
			}

			a {
				color: black;
		    text-decoration: none;
			}
		}
	}

}


.page-title {
	margin: 5px;
    border: 1px solid #524F4F;
    padding: 10px;
    text-align: center;
    background: #ccc;
    font-size: 1.5em;
    width: 100%;
}

.main-items-list-container {

	.main-items-list-item {
		list-style: none;
	    margin: 0px;
	    padding: 10px;
	    border: 1px solid black;
	    border-bottom: none;
	    min-height: 80px;

	    &:last-child {
	    	border-bottom: 1px solid black;
	    }
	}

	.term {
		padding: 5px;
		width: 20%;
		vertical-align: top;
		float: left;

		a.delete-link {
			font-size: 0.7em;
		}
	}

	.meaning-container {
		display: inline-block;
		padding: 5px;
		width: 75%;

		.meaning-item {
			display: inline-block;
			padding: 5px;
			border-top: 1px dashed black;
			width: 100%;

			&:first-child {
				border: none;
			}
		}
	}
}

.paginate-container {
	text-align: center;
	.pagination {
		span,em,a {
			list-style: none;
	    display: inline-block;
	    text-align: center;
	    height: 30px;
	    line-height: 30px;
	    margin-left: 5px;
	    padding: 0 5px 0 5px;
		}

		em {
			font-weight: bold;
		}

		a {
			color: black;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.content {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	margin: 5px;

	form.edit_form, .info_container {
		margin: 0px auto;
    display: block;
    padding: 10px;
    width: 50%;
  	background: #9797EC;

  	.errors_container {
  		width: 80%;
  		padding: 10px;
  		margin: 0px auto;
  		background: #EC8C8C;

  		.error-message {
  			border: 1px solid red;
  			padding: 5px;
  			border-bottom: none;

  			&:last-child {
  				border-bottom: 1px solid red;
  			}
  		}
  	}

    .input_container, .attribute_container {
    	width: 80%;
    	padding: 10px;
    	margin: 0px auto;

    	label {
    		display: block;
    		padding: 5px;
    		width: 90%;
    		margin: 0px auto;
    	}
    	input, select, textarea {
    		display: block;
    		border: none;
    		width: 90%;
    		border-radius: 10px;
    		text-indent: 10px;
    		padding: 10px;
    		margin: 0px auto;
    	}
    	textarea {
    		margin-bottom: 10px;
    		max-width: 90%;
    		min-height: 150px;
    	}
    	.attribute-name {
    		font-weight: bold;
    	}
    	.attribute-value {
    		border-bottom: 1px dashed black;
    		margin: 10px 0 0 0;

    		&:nth-child(2) {
    			margin: 0;
    		}
    	}
    }

    .buttons_container {
	    margin: 0px auto;
	    display: block;
	    width: 80%;
    }
	}

	table.results {
		min-width: 100%;

		thead {
			tr {
				background: #ABABAB;

				&:first-child{

					td {
						text-align: center;
						font-weight: bold;
					}
				}
			}
		}

		tbody {

			tr{

				&.list_line_odd {
					background: #ccc;
				}

				&.list_line_event {
					background: #ABABAB;
				}
			}
		}

		td {
			width: 150px;
		}
	}
}

.button {
	display: inline-block;
  width: 37%;
  text-align: center;
  margin: 10px 15px 0 15px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: #ccc;
  color: black;
	text-decoration: none;
	-webkit-transition: background 0.2s ease-out 0.2s;
	-moz-transition: background 0.2s ease-out 0.2s;
	-o-transition: background 0.2s ease-out 0.2s;
	transition: background 0.2s ease-out 0.2s;

	&:hover {
		text-decoration: underline;
		background: #ddd;
	}
}

.query_field {
    padding: 10px;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
}