html
	head
		title
			= t("titles.page_titles.index.index") + " - " + t("titles.page_titles.#{controller_name}.#{action_name}")
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	body
		.wrapper
			.site-menu
				ul.site-menu
					li
						= link_to t("titles.menu_titles.terms_list"), terms_path
					li
						= link_to t("titles.menu_titles.create_term"), new_term_path
					li
						= link_to t("titles.page_titles.index.panel"), "/panel"
			.page-title
				= t("titles.page_titles.#{controller_name}.#{action_name}")
			=yield